# URL da API Backend
# Local ou Docker Compose com navegador no host
VITE_API_URL=http://localhost:3000
# Se o frontend for consumido por outro container na mesma rede
# VITE_API_URL=http://backend:3000

# URL do WebSocket
# Local ou Docker Compose com navegador no host
VITE_WS_URL=ws://localhost:3000
# Se o frontend for consumido por outro container na mesma rede
# VITE_WS_URL=ws://backend:3000

# Configurações de UI (Opcional)
VITE_MAZE_SIZE=15